body {
    background-image: url("../pwa/volcano.png");
    background-size: cover;
}
input {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    color: white;
}
